:root {
  --main-bg-color: #f0f0f0;
  --second-bg-color: #c6dade;
  --main-accent-color: #285172;
  --main-text-color: #f2f2f2;
  --main-event-color: #ddd;
  --main-active-color: #2196f3;
  --navBar-bg-color: #285172;

  --event-text-color: #2196f3;

  --active-text-color: white;
}

body {
  background-color: var(--main-bg-color);
  padding: 0;
  margin: 0;
  font-family: "Jo Mewka", "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

button,
button:focus,
button:active {
  border: none;
  background: unset;
  outline: none;
  padding: unset;
}

#top-nav {
  background-color: var(--navBar-bg-color);
  overflow: hidden;
  z-index: 98;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 21px;
  max-height: 60px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.65);

  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#top-nav .navbar-toggle {
  float: right;
  text-align: center;
  padding: 18.5px 15px 20.5px;
  background-color: unset;
  border: unset;
  color: var(--main-text-color);
  cursor: pointer;
  line-height: 21px;
  font-size: 19px;
  display: none;
}

#links-container {
  float: right;
  width: fit-content;
}

#mobile-menu {
  display: none;
}

#top-nav a,
#mobile-menu a {
  color: var(--main-text-color);
  text-align: center;
  padding: 18.5px 15px 20.5px;
  font-size: 19px;
  line-height: 21px;
  font-weight: 700;
  float: left;
  text-decoration: none;
}

#top-nav a:hover,
#mobile-menu a:hover {
  color: var(--event-text-color);
}

a.active {
  background-color: var(--main-active-color);
  color: var(--active-text-color);
}

a.active:hover {
  color: var(--main-text-color) !important;
}

#home,
#about,
#portfolio {
  width: 100%;
  position: relative;
  min-height: 380px;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#home .container {
  padding-top: 90px;
  padding-bottom: 60px;
}

.header-content {
  margin: auto;
  width: max-content;
  padding: 2vh 15px;
  text-align: center;
  background-color: rgba(40, 81, 114, 0.8);
  /**
  * background-color: var(--main-accent-color);
  * opacity: 0.8;
  */
  border-radius: 20px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

.header-text {
  color: rgba(242, 242, 242, 0.8);
  /**
  * color: var(--main-text-color);
  */
}

.name {
  font-size: 1.5em;
}

.header-text hr {
  border: 4px solid;
  border-radius: 5px;
}

#portrait-container {
  box-sizing: border-box;
  height: 225px;
  width: 225px;
  border: 0.4em solid rgba(255, 255, 255, 0.75);
  border-radius: 100%;
  background-color: bisque;
  margin: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  background-image: url("/imgs/profile3.jpg");
  background-position: 30% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#about {
  background-color: var(--main-text-color);
  padding: 110px 20px 20px 20px;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
}

.about-content {
  box-sizing: border-box;
  color: var(--main-accent-color);
  line-height: 2em;
  max-width: 50%;
  flex: 50%;
  padding: 0 2vw;
}

.about-content:nth-child(2) {
  box-sizing: border-box;
  padding: 0 2vw;
}

.about-content p {
  text-indent: 20px;
  margin: 1em 0;
  font-size: 1.35em;
}

.about-content:nth-child(2) p {
  font-size: 1em;
  line-height: 1.75em;
}

.about-content:nth-child(2) p:nth-child(even) {
  font-weight: 700;
  margin: 0;
}

.about-content:nth-child(2) p:nth-child(odd) {
  margin: 0;
}

#about h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Julius Sans One", sans-serif;
  font-size: 1.75em;
  margin-top: 0;
}

#about-container {
  width: 85vw;
  min-width: 270px;
  margin: auto;
  background-color: var(--second-bg-color);
  border: 1px solid var(--main-active-color);
  border-radius: 5px;
}

#portfolio {
  background-color: var(--second-bg-color);
  padding: 110px 20px 20px 20px;
}

#portfolio h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Julius Sans One", sans-serif;
  font-size: 1.75em;
  margin-top: 0;
}

.project-section {
  display: flex;
  flex-wrap: wrap;
}

.project-section:after {
  content: "";
  display: table;
  clear: both;
}

.project-column {
  flex: 33%;
  padding: 5px;
  max-width: 33%;
  box-sizing: border-box;
}

.project-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.project-container:hover {
  cursor: pointer;
}

.project-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.project-overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: var(--main-accent-color);
}

.project-container:hover .project-image {
  opacity: 0.3;
}

.project-container:hover .project-overlay {
  opacity: 0.8;
}

.project-label {
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: 800;
  padding: 8px;
}

.project-details {
  text-align: left;
  padding: 0 8px;
  text-indent: 12px;
  color: var(--main-text-color);
}

.project-details p {
  margin: 0.5em 0;
}

.project-details h3 {
  margin: 0;
}

.project-details ul {
  margin: 0.5% 0;
  font-size: 0.8em;
}

.project-icon-tray {
  text-align: center;
  font-size: 2em;
}

.fa-react {
  color: #61dbfb;
}

.fa-html5 {
  color: #e44d26;
}

.fa-css3-alt {
  color: #379ad6;
}

.fa-js-square {
  color: #e9d44d;
}

.firebase-icon {
  height: 1em;
  padding-left: 12px;
}

.electron-icon {
  height: 1em;
  padding-left: 12px;
}

.project-url {
  text-align: center;
  padding: 0 0 0.5% 0;
  font-style: italic;
  word-wrap: break-word;
}

#modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

#modal-content {
  position: relative;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 90%;
  max-width: 1200px;
  box-sizing: border-box;
}

#modal-content .container {
  flex: 55%;
  width: fit-content;
}

#slide-container {
  padding: 0 43px;
  width: fit-content;
}

#slide {
  max-height: 75vh;
  width: auto;
}

.modal-close-icon {
  color: white;
  position: absolute;
  top: 5%;
  right: 4%;
  font-size: 3.5em;
  font-weight: bold;
}

#modal-prev,
#modal-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

#modal-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#modal-prev:hover,
#modal-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-close-icon:hover,
.modal-close-icon:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

#modal-description {
  line-height: 1.45em;
}

.modal-caption-container {
  text-align: center;
  padding: 2px 16px;
  color: white;
  height: 60vh;
  box-sizing: border-box;
}

#modal-caption {
  font-size: 1.35em;
}

.modal-clip-column {
  float: left;
  width: fit-content;
  max-width: 25%;
  box-sizing: border-box;
  padding: 0 8px;
}

.modal-clip {
  width: auto;
  max-width: 100%;
  max-height: 15vh;
}

.modal-clip:hover {
  opacity: 0.8;
  transition: 0.3s ease;
  cursor: pointer;
}

#contact {
  position: relative;
  height: 100%;
  background-color: var(--main-accent-color);
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.65);
  padding: 18px 0;
}

#contact h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Julius Sans One", sans-serif;
  font-size: 1.75em;
  margin: 0.75em 0;
  color: var(--main-text-color);
}

.contact-icon-tray {
  text-align: center;
  margin: 0.55em 0;
}
.contact-icon-tray a {
  color: var(--main-text-color);
  text-decoration: none;
  margin: 2.5px;
}

.contact-icon-tray img {
  height: 2.5em;
}

.contact-icon-tray i {
  font-size: 2.5em;
}

@media only screen and (max-width: 1200px) {
  .project-list {
    display: none;
  }

  .project-graphics {
    display: none;
  }

  #modal-content .container {
    flex: 50%;
  }
}

@media only screen and (max-width: 1050px) {
  .about-content {
    line-height: 2.2em;
    max-width: 100%;
    flex: 100%;
  }

  .about-content p {
    margin: 1em 5%;
  }

  .about-content:nth-child(2),
  .project-details p,
  #modal-clip-container,
  #modal-description {
    display: none;
  }

  #slide-container {
    margin: auto;
  }

  .modal-caption-container {
    max-height: 60px;
  }
}

@media only screen and (max-width: 700px) {
  #mobile-menu {
    position: fixed;
    right: 0%;
    display: block;
    z-index: 99;
    background-color: var(--main-accent-color);
  }

  #links-container {
    display: none;
    position: absolute;
    z-index: 99;
    margin-top: 60px;
    margin-right: -48px;
    text-transform: uppercase;
  }

  #mobile-menu .navbar-toggle {
    display: block;
    float: right;
    padding: 16px;
    color: var(--main-text-color);
  }

  #mobile-menu:hover #links-container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--main-accent-color);
    color: var(--main-text-color);
  }

  .about-content p {
    margin: 1em 12px;
    font-size: 1.15em;
    text-align: justify;
    text-justify: inter-word;
  }

  .project-column {
    flex: 50%;
    max-width: 50%;
  }

  .project-overlay {
    height: unset;
  }

  .project-details {
    display: none;
  }

  .project-label {
    font-weight: unset;
    padding: 16px 32px;
  }
}
