:root {
  --main-bg-color: #f0f0f0;
  --second-bg-color: #c6dade;
  --main-accent-color: #285172;
  --main-text-color: #f2f2f2;
  --main-event-color: #ddd;
  --main-active-color: #2196f3;
  --navBar-bg-color: #285172;

  --event-text-color: #2196f3;

  --active-text-color: white;
}

body {
  background-color: var(--main-bg-color);
  padding: 0;
  margin: 0;
  font-family: "Jo Mewka", "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

button,
button:focus,
button:active {
  border: none;
  background: unset;
  outline: none;
  padding: unset;
}

#top-nav {
  background-color: var(--navBar-bg-color);
  overflow: hidden;
  z-index: 98;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 21px;
  max-height: 60px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.65);

  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#top-nav .navbar-toggle {
  float: right;
  text-align: center;
  padding: 18.5px 15px 20.5px;
  background-color: unset;
  border: unset;
  color: var(--main-text-color);
  cursor: pointer;
  line-height: 21px;
  font-size: 19px;
  display: none;
}

#links-container {
  float: right;
  width: fit-content;
}

#mobile-menu {
  display: none;
}

#top-nav a,
#mobile-menu a {
  color: var(--main-text-color);
  text-align: center;
  padding: 18.5px 15px 20.5px;
  font-size: 19px;
  line-height: 21px;
  font-weight: 700;
  float: left;
  text-decoration: none;
}

#top-nav a:hover,
#mobile-menu a:hover {
  color: var(--event-text-color);
}

a.active {
  background-color: var(--main-active-color);
  color: var(--active-text-color);
}

a.active:hover {
  color: var(--main-text-color) !important;
}

#home,
#about,
#works {
  width: 100%;
  position: relative;
  min-height: 380px;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#home .container {
  padding-top: 90px;
  padding-bottom: 60px;
}

.header-content {
  margin: auto;
  width: max-content;
  padding: 2vh 15px;
  text-align: center;
  background-color: var(--main-accent-color);
  opacity: 0.8;
  border-radius: 20px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

.header-text {
  color: var(--main-text-color);
}

.name {
  font-size: 1.5em;
}

.header-text hr {
  border: 4px solid;
  border-radius: 5px;
}

#portrait-container {
  box-sizing: border-box;
  height: 225px;
  width: 225px;
  border: 0.4em solid rgba(255, 255, 255, 0.75);
  border-radius: 100%;
  background-color: bisque;
  margin: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  background-image: url("/imgs/testPhoto.jpg");
  background-position: 35% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#about {
  background-color: var(--main-text-color);
  padding: 110px 20px 20px 20px;
}

.about-content {
  padding: 0 18px;
  color: var(--navBar-bg-color);
}

.about-content p {
  text-indent: 12px;
  margin: 1em 8px;
}

#about h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Julius Sans One", sans-serif;
  font-size: 1.75em;
  margin-top: 0;
}

#about-container {
  width: 85vw;
  min-width: 270px;
  margin: auto;
  background-color: var(--second-bg-color);
  border: 1px solid var(--main-active-color);
  border-radius: 5px;
}

#works {
  background-color: var(--second-bg-color);
  padding: 110px 20px 20px 20px;
}

#works h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Julius Sans One", sans-serif;
  font-size: 1.75em;
  margin-top: 0;
}

.project-section {
  display: flex;
  flex-wrap: wrap;
}

.project-section:after {
  content: "";
  display: table;
  clear: both;
}

.project-column {
  flex: 33%;
  padding: 5px;
  max-width: 33%;
  box-sizing: border-box;
}

.project-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.project-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.project-overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: var(--main-accent-color);
}

.project-container:hover .project-image {
  opacity: 0.3;
}

.project-container:hover .project-overlay {
  opacity: 0.8;
}

.project-label {
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: 800;
  padding: 8px;
}

.project-details {
  text-align: left;
  padding: 0 8px;
  text-indent: 12px;
  color: var(--main-text-color);
}

.project-details p {
  margin: 0.5em 0;
}

.project-details h3 {
  margin: 0;
}

.project-details ul {
  margin: 6px 0;
  font-size: 0.8em;
}

.project-icon-tray {
  text-align: center;
  font-size: 2em;
}

.fa-react {
  color: #61dbfb;
}

.firebase-icon {
  height: 1em;
  padding-left: 12px;
}

.electron-icon {
  height: 1em;
  padding-left: 12px;
}

.project-url {
  text-align: center;
  padding: 0 0 8px 0;
  font-style: italic;
}

#contact {
  position: relative;
  height: 100%;
  background-color: var(--main-accent-color);
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.65);
  padding: 18px 0;
}

#contact h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Julius Sans One", sans-serif;
  font-size: 1.75em;
  margin: 0.75em 0;
  color: var(--main-text-color);
}

.contact-icon-tray {
  text-align: center;
  margin: 0.55em 0;
}
.contact-icon-tray a {
  color: var(--main-text-color);
  text-decoration: none;
  margin: 2.5px;
}

.contact-icon-tray img {
  height: 2em;
}

.contact-icon-tray i {
  font-size: 2em;
}

@media only screen and (max-width: 1200px) {
  .project-list {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .project-details p,
  .project-details img {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  #mobile-menu {
    position: fixed;
    right: 0%;
    display: block;
    z-index: 99;
    background-color: var(--main-accent-color);
  }

  #links-container {
    display: none;
    position: absolute;
    z-index: 99;
    margin-top: 60px;
    margin-right: -48px;
    text-transform: uppercase;
  }

  #mobile-menu .navbar-toggle {
    display: block;
    float: right;
    padding: 16px;
    color: var(--main-text-color);
  }

  #mobile-menu:hover #links-container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--main-accent-color);
    color: var(--main-text-color);
  }

  .project-column {
    flex: 50%;
    max-width: 50%;
  }

  .project-overlay {
    height: unset;
  }

  .project-details {
    display: none;
  }

  .project-label {
    font-weight: unset;
    padding: 16px 32px;
  }
}
